body {
  text-align: center;
}

header {
  height: 250px;
  background-color: #343843;
}

h1, h2, h3, h4 {
  font-style: "Roboto Slab", sans-serif;
  padding: 30px 0px 20px 0px;
}

h1 {
  font-size: 50px;
  color: white !important;
}

.btn:active {
  background-color: white;
  color: #cc4f4d;
  border-color: #f3e8b6;
}

.btn-primary {
  color: white;
  background-color: #cc4f4d;
  border-color: #cc4f4d;
}

.btn-primary:hover {
  background-color: white;
  color: #cc4f4d;
  border-color: #f3e8b6;
}

.btn-secondary {
  background-color: white;
  color: #cc4f4d;
  border-color: #f3e8b6;
}

.btn-secondary:hover {
  background-color: white;
  color: #f3e8b6;
  border-color: #f3e8b6;
}

.sprtr {
  border-style: solid;
  border-bottom: 1px;
  border-color: #EEE;
  margin-top: 50px;
}

.story {
  min-height: 250px;
  background-color: white;
}

.history {
  text-align: left;
  padding-right: 9% !important;
}


.engineering, .support, .content {
  display: none;
}
